<% if @entries.count > 0 %>
  <div class="col-12">
    <hr>
    <h1 class="d-flex justify-content-center"><%= @main_content["entries_type"].capitalize %></h1>
    <hr>
  </div>

        <% @entries.each do |entry| %>
            <div class="col-12 col-lg-12 animated wow fadeInUp" data-wow-duration="1.5s">
              <%= link_to(entry) do %>
              <div class="card waves-effect waves-light text-xs-center">
                <% div = case entry.entry_type.id
                when 2 then '<div class="card-header primary-color white-text">'
                when 1 then '<div class="card-header teal accent-3 black-text">'
                when 3 then '<div class="card-header secondary-color white-text">'
                when 4 then '<div class="card-header deep-orange darken-2 white-text">'
                else '<div class="card-header deep-orange darken-2 white-text">'
                end
                %>

                <% div2 = case entry.entry_type.id
                when 2 then '<div class="card-footer primary-color white-text">'
                when 1 then '<div class="card-footer teal accent-3 black-text">'
                when 3 then '<div class="card-footer secondary-color white-text">'
                when 4 then '<div class="card-footer deep-orange darken-2 white-text">'
                else '<div class="card-footer deep-orange darken-2 white-text">'
                end
                %>
                <%= raw div %>
                  <h4 class="d-flex justify-content-center"><%= entry.title %></h4>
                  <h6 class="d-flex justify-content-center">By <%= entry.user.name %> <%= entry.user.surname %></h6><hr>
                  <h6 class="d-flex justify-content-center"><%= entry.entry_type.name %></h6>
                </div>

                <% if entry.abstract != nil && entry.abstract != "" %>
                  <div class="card-body">
                    <p><div class ="d-flex justify-content-center black-text"><%= raw entry.abstract.first(480) %>...</p></div>
                  </div>
                <% end %>

              </div>
              <% end %>
            </div>
          <div class="col-12"><br><br></div>
        <% end %>
<% else %>
  <hr>
  <div class="d-flex justify-content-center"><h1> There is no <%= @main_content["entries_type"] %> entries at the time </h1></div>
  <hr>
<% end %>
