<div class="container wow fadeIn" data-wow-duration="2s">



  <div class="card text-xs-center">
    <% div = case @entry.entry_type.id
    when 2 then '<div class="card-header primary-color white-text">'
    when 1 then '<div class="card-header teal accent-3">'
    when 3 then '<div class="card-header secondary-color white-text">'
    when 4 then '<div class="card-header deep-orange darken-2 white-text">'
    else '<div class="card-header deep-orange darken-2 white-text">'
    end
    %>
    <%= raw div %>
        <h4 class="d-flex justify-content-center"><%= @entry.entry_type.name %></h4>
    </div>
    <div class="card-body">
        <br><h1 class ="d-flex justify-content-center"><%= @entry.title %></h1>
        <h4 class="d-flex justify-content-center">By <%= @entry.user.name %> <%= @entry.user.surname %></h4>
    </div>
  </div>
</div>


  <% if @entry.abstract != nil && @entry.abstract != "" %>
    <div class="container  wow fadeIn" data-wow-duration="2s">
      <br><h3><strong>Abstract</strong></h3><br>
      <%= raw @entry.abstract %>
    </div>
    <br><hr>
  <% end %>

  <% if @entry.text != nil && @entry.text != "" %>
    <br><br>
    <div class="container  wow fadeIn" data-wow-duration="2s">
      <%= raw @entry.text %>
    </div>
  <% end %>


</div>
