
@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: auto !important;
  }
  .navbar-collapse.in {
    overflow-x: auto;
    overflow-y: auto;
  }

.navbar
{
	max-width: 20%;
	margin-right: 0;
	margin-left: 0;
  min-height:100vh;
}

.text-class
{
  max-width: 80%;
  margin-left: 10px;
}

.text-class-padded
{
  padding-top: 75px;
}

.btn-custom
{
  background-color: transparent;
}

.custom-submit-btn
{
  font-size: 80%
}

.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child
{margin-right: 0;}

.hexagon {
  position: relative;
  width: 150px;
  height: 86.60px;
  margin: 43.30px 0;
  background-image: url(<%= asset_path 'avatar.png' %>);
  background-size: auto 161.6581px;
  background-position: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 106.07px;
  height: 106.07px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 16.97px;
}

.overflowed
{
  overflow: auto;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 140.0000px;
  height: 80.82903768654762px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -53.0330px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -53.0330px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 140.0000px;
  height: 80.8290px;
  z-index: 2;
  background: inherit;
}
