<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Erik Tordera's blog</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">


  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <!-- Include Editor style. -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />

  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "mdb.min" %>
  <%= stylesheet_link_tag "style" %>

  <%= yield :head %>
</head>

<body onresize="checkCollapse()">


    <div class="row">
      <div class="col-sm-3">

          <div class="navbar navbar-default fixed-top" role="navigation"  style="background-color:#1565c0;" id="global-navbar">
            <div class="navbar-header">


              <button type="button" class="navbar-toggle fa fa-bars btn btn-blue-grey btn-sm hidden-md-up" aria-hidden="true" data-toggle="collapse" data-target=".sidebar-navbar-collapse" id="toggleBtn">
                <span class="sr-only"> Toggle navigation </span>
              </button>

              <span class="d-flex justify-content-center" id="brand">
                <a class="navbar-brand navbar-link" href="/">
                  <div class="d-flex justify-content-center">
                    <div class="hexagon" id="avatar"><div class="hexTop"></div><div class="hexBottom"></div></div>
                  </div>
                  <span style="color: white;" id="brand-text"><strong>Erik Tordera Bermejo</strong></span>
                </a>
              </span>
            </div>

            <div class="navbar-collapse collapse sidebar-navbar-collapse padded-to-bot" id="navbar">
              <div class="d-flex flex-column" id="btns">
                <%= link_to :papers do %><div class="p-2 d-flex flex-row waves-effect waves-light" style="color: white;" id="btn-menu-2">Papers</div> <% end %>
                <%= link_to :impressions do %><div class="p-2 d-flex flex-row waves-effect waves-light" style="color: white;" id="btn-menu-3">First Impressions</div><% end %>
                <%= link_to :offtopics do %><div class="p-2 d-flex flex-row waves-effect waves-light" style="color: white;" id="btn-menu-3">Offtopics</div><% end %>
                <hr><a href="#">
                <a href="#"> <div class="p-2 d-flex flex-row waves-effect waves-light" id="btn-menu-4" style="color: white;">About me</div> </a>
              </div>
            </div>

          </div>
      </div>
      <div class="col-sm-9">
        <div class="container-fluid" id="text">
          <div class="row" id=main>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <%= javascript_include_tag "jquery-3.1.1.min" %>
  <!-- Bootstrap tooltips -->
  <%= javascript_include_tag "tether.min" %>
  <!-- Bootstrap core JavaScript -->
  <%= javascript_include_tag "bootstrap.min" %>
  <!-- MDB core JavaScript -->
  <%= javascript_include_tag "mdb.min" %>

  <%= javascript_include_tag "scripts" %>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <!-- Include Editor JS files. -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>

  <!-- Initialize the editor. -->
  <script>
    new WOW().init()
    $(function() {
      $('textarea').froalaEditor(
        {
          height: 300
        }
      )
    });
  </script>



</body>
</html>
